.KitCarousel {
  border: 4px solid black;
  background: white;
  position: relative;
  padding: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel-content {
  padding: 5px;
  position: relative;
  width: fit-content;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-img {
  border: 2px solid blue;
  margin: 1em;
  width: 40%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel-img img {
  border: 2px solid black;
  object-fit: contain;
}

.carousel-left-arrow {
  z-index: 2;
  color: black;
  position: absolute;
  top: 50%;
  left: 5vw;
}

.carousel-right-arrow {
  z-index: 2;
  color: black;
  position: absolute;
  top: 50%;
  right: 5vw;
}

.carousel-indicator-div {
  position: absolute;
  bottom: 8vh;
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.carousel-indicator {
  max-width: auto;
  max-height: 48px;
}
.carousel-indicator:hover {
  transform: scale(1.2);
  border: 2px solid green;
}

.indicator-left-arrow:hover,
.indicator-right-arrow:hover {
  transform: scale(1.2);
  color: green;
}
