.Kit {
  border: 4px solid black;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Kit button {
  width: fit-content;
}

.kit-content {
  border: 2px solid blue;
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.kit-carousel {
  border: 2px solid green
}

.kit-info {
  border: 2px solid green;
}

.kit-name {
  border: 2px solid red;
}

.kit-img{
  border: 2px solid red;
  margin: 1em;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.kit-img img {
  border: 2px solid black;
  object-fit: contain;
}

.kit-short {
  /* text-align: center; */
  font-size: 200%;
}

@media only screen and (max-width: 700px) {

  /* .Kit {
    background-color: red;
  } */

  .kit-content {
    height: 50%;
  }

  /* .kit-item {
    width: 20em;
    height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */

}
