.KitCard {
  border: 4px solid black;
  width: 30em;
  height: 30em;
  margin: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.kit-card-header {
  border: 2px solid blue;
  /* margin: 1em; */
  max-height: 20%;
  width: 100%;
  text-align: center;
}

.kit-card-img{
  border: 2px solid blue;
  margin: 1em;
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.kit-card-img img {
  border: 2px solid black;
  cursor: pointer;
  object-fit: contain;
}

.kit-card-short {
  border: 2px solid blue;
  max-height: 2em;
}

@media only screen and (max-width: 540px) {

  .KitCard {
    width: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* .home-item {
    width: 20em;
    height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */

}