.App {
  border: 4px solid black;
  margin: 1em;
}

.nav-bar {
  border: 4px solid black;
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-menu {
  border: 2px solid blue;
  font-size: 4em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.nav-menu-item {
  border: 2px solid green;
  cursor: pointer;
  text-align: center;
}

@media only screen and (max-width: 540px) {
  .nav-menu {
    width: 40em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
